#game
{
    color:white;
    background-color: rgb(194, 6, 6);
    border-width: 10px;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn1
{
    border-radius: 50px;
    border-color: green;
    border-width: 25px;
    margin-top: 200px;
    margin-left: 400px;
    position:fixed;
    color: white;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn2
{
    border-radius: 50px;
    border-color: orange;
    border-width: 25px;
    margin-top: 200px;
    margin-left: 900px;
    position:fixed;
    color: white;
    background-color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img1
{
    width: 50px;
    margin-top: 7%;
    margin-bottom: 40px;
    margin-left: 3px;
}
#img2
{  
    width: 50px;
    margin-top: 83px;
    margin-left: 3px;
}
#lenta {
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.polinja {
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
    color:white;
    background-color: rgb(194, 6, 6);
}
#saat {
    margin-top: 90px;
    margin-left: 720px;
}